<div class="sidebar">
<div class="sidebar">
  <div class="sidebar-content">
    <ul class="">
      <li><a href="manage_migration_policy.html"><div class="policy-conversion-icon"></div><p>Policy Conversion</p></a></li>
      <li><a href="manage_migration_selection.html"><div class="selection-criteria-icon"></div><p>Selection Criteria</p></a></li>
      <li><a href="manage_migration_status.html"><div class="migration-job-status-icon"></div><p>Migration Status</p></a></li>
    </ul>
  </div>
</div>
</div>